
import random

class person:
	def __init__ (self, name, hp, dmg):
		self.name = name
		self.hp = hp
		self.dmg = dmg



player_hp = random.randint(50, 70)
player_dmg = random.randint(5,7)


player = person("knight", player_hp, player_dmg)
print(vars(player))


enemy_hp = random.randint(50, 70)
enemy_dmg = random.randint(5,7)

enemy = person("monster", enemy_hp, enemy_dmg)
print(vars(enemy))


knight = 0
monster = 0
check = ("счет: ", "knight", "-", "monster")


print(check)
print("fight")


def fight():
	global knight, monster, player, enemy
	while True:
		if player.hp > 0 and enemy.hp > 0:
			print(vars(player))
			print(vars(enemy))
			player.hp -=enemy.dmg+random.randint(0, 7)
			print(vars(player))
			enemy.hp -=player.dmg+random.randint(0, 7)
			print(vars(enemy))
		else:
			if player.hp > 0:
				print("победа")
				player = person("knight", player_hp+5, player_dmg)
				enemy = person("monster", enemy_hp, enemy_dmg)
				print(vars(player))
				knight += 1
				print("счет: ", knight, "-", monster)
				return knight, monster, player, enemy
			else:
				print("поражение")
				enemy = person("monster", enemy_hp+5, enemy_dmg)
				player = person("knight", player_hp, player_dmg)
				print(vars(enemy))
				monster +=1
				print("счет: ", knight, "-", monster)
				return knight, monster, player, enemy
				
				

				
while True:
	x = input("сыграем? ",)
	if x == "да":
		fight()
	else:
		break
